{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Assistance</h1>
    </div>
    <div class="text-center">
        <div>
            <h2>
                SID Contact Number:
            </h2>
        </div>
        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-help' %}" role="button">
                    Back
                </a>

        </div>
    </div>
{% endblock %}