{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen;border-radius: 0px">
        <h1 style="color: white">Assistance</h1>
    </div>
    </div>
    <div class="text-center">
            <h4>SID Contact Number:</h4>
            <h5> 0300 555 0444</h5><br>
            <h4>Estate Patrol Routine Number:</h4>
            <h5>01392 723999</h5><br>
            <h4>Estate Patrol Emergency Number:</h4>
            <h5>01392 722222</h5><br>
            <p>NOTE: This is not a replacement for the emergency services. Please call 999.</p><br>

        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-help' %}" role="button">
                    Back
                </a>
        </div>
    </div>
{% endblock %}