{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen;border-radius: 0px">
        <h1 style="color: white">Clue</h1>
    </div>
    <div class="text-center">
        <img src="{{ clue.imageFilePath }}" style="width:45%;height:auto">
        <div><p> </br> </p></div>
        <h3>{{ clue.clueText }}</h3>
        <div><p> </br> </p></div>
        <div class="btn-group-vertical">
            <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-qr' %}" role="button">
                Scan QR Code
            </a>
            <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-home' %}" role="button">
                Quit
            </a>
        </div>
    </div>
{% endblock %}