{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Clue</h1>
    </div>
    <div class="text-center">

        <p>Photo goes here</p>
        <p>Text goes here</p>

        <div class="btn-group-vertical">
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'treasurehunt-task_one' %}" role="button">
                    Scan QR Code
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'treasurehunt-home' %}" role="button">
                    Quit
                </a>
        </div>
    </div>
{% endblock %}