{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Congratulations!</h1>
    </div>
    <div class="text-center">
        <div>
            <h2>
                Your Score:
            </h2>
        </div>
        <div class="btn-group-vertical">
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'treasurehunt-leaderboard' %}" role="button">
                    Leaderboards
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'treasurehunt-home' %}" role="button">
                    Start Over
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="#" role="button">
                    Learn More
                </a>
        </div>
    </div>
{% endblock %}