{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen">
        <h1 style="color: white">Frequently Asked Questions</h1>
    </div>
    <div class="text-center" style="padding:10px">
        <div>
            <h5>1: What is the Mystery Tour App?</h5>
            <p>This app</p>

        </div>
        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-help' %}" role="button">
                    Back
                </a>
        </div>
    </div>
{% endblock %}