{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen">
        <img src="media/unilogowhite.png" style="width:35%;height:auto">
        <h2 style="color:white;padding-top:10px">Treasure Hunt Orientation</h2>
        <h4 style="color:white">Unofficial</h4>
    </div>

    <div class="text-center">
        <div class="content-section">
            <img src="media/logo.png" style="width:35%;height:auto;">
            <div></div>
            <div class="btn-group-vertical" style="width:35%;height:auto;padding-bottom:15px">
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-start' %}" role="button">
                    Start
                </a>
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-leaderboard' %}" role="button">
                    Leaderboards
                </a>
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-newroute' %}" role="button">
                    Add a New Route
                </a>
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-admin' %}" role="button">
                    Game Keeper Login
                </a>
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-blog' %}" role="button">
                    Blog
                </a>
                <a class="btn btn-outline-info my-2" role="button" href="{% url 'treasurehunt-help' %}" role="button">
                    Help
                </a>
            </div>
        </div>
    </div>
{% endblock %}