{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h3>University of Exeter</h3>
        <h1>Treasure Hunt Orientation</h1>
    </div>
    <div class="text-center">
        <div class="btn-group-vertical">

                <img src="media/logo.png" style="width:217px;height:245px;">
                <div><p></p></div>

                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-start' %}" role="button">
                    Start
                </a>
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-leaderboard' %}" role="button">
                    Leaderboards
                </a>
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-help' %}" role="button">
                    Help
                </a>
        </div>
    </div>
{% endblock %}