{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen;border-radius: 0px">
        <h1 style="color: white">How to Play</h1>
    </div>

    <div class="text-center" style="padding:20px;text-align:justify">
        <div>
            <h6>
                The game is presented as a series of clues and tasks</br></br>
                Clues will guide you to the locations of QR Codes to scan</br></br>
                These QR Codes will then present a timed task to complete at that area</br></br>
                Completing the task will reveal some information about that area</br></br>
                You will receive 10 points for a correct answer</br></br>
                5 points will be deducted for an answer</br></br>
                You may then progress to the next clue</br></br>
            </h6>
        </div>

        <div class="btn-group-vertical">
            <a class="btn btn-outline-info" role="button" href="#" onclick="firstClue( {{ firstClue }} )" role="button">
               First Clue
            </a>
        </div>
    </div>

    <script>
    function firstClue(clue) {
        url = window.location.href;
        newurl = url.substring(0, url.lastIndexOf('h'));
        window.location.href = (newurl + 'clue/' + clue);
    }
    </script>

{% endblock %}