{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>{{ location.name }}</h1>
    </div>
    <div class="text-center">

        <p>{{ location.description }}</p>

        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" href="#" onclick="myFunction()" role="button">
                    Next Clue
                </a>
        </div>
    </div>

    <script>
    function myFunction() {
        url = window.location.href
        split = window.location.href.split('/');

        value = split.pop();

        newurl = url.substring(0, url.lastIndexOf('i'));

        if (value < 7)
            window.location.href = (newurl + 'clue/' + (++value));

        else
            window.location.href = (newurl + 'end');
    }
    </script>
{% endblock %}