{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>{{ location.name }}</h1>
    </div>
    <div class="text-center">

        <p>{{ location.description }}</p>

        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" href="#" onclick="myFunction()" role="button">
                    Next Clue
                </a>
        </div>
    </div>

    <script>
    function myFunction() {
        url = window.location.href;
        value = url.charAt(url.length-1);
        newurl = url.substring(0, url.lastIndexOf('i'));
        window.location.href = (newurl + 'clue/' + (++value));
    }
    </script>

{% endblock %}