{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: darkgreen">
        <h1 style="color: white">{{ location.name }}</h1>
    </div>
    <div class="text-center" style="padding:20px;text-align:justify">

        <p>{{ location.description }}</p>

        <div class="btn-group-vertical">
            <a class="btn btn-outline-info" role="button" href="#" onclick="nextClue( {{ nextClue }}, {{ routeLength }}, {{ progress }} )">
               Next
            </a>
        </div>
    </div>

    <script>
    function nextClue(clue, length, progress) {
        url = window.location.href;
        newurl = url.substring(0, url.lastIndexOf('i'));

        if (progress < length)
            window.location.href = (newurl + 'clue/' + clue);

        else
             window.location.href = (newurl + 'end');
    }
    </script>
{% endblock %}