{% extends "treasurehunt/base.html" %}
{% block content %}

    <div class="jumbotron text-center" style="background-color: darkgreen;border-radius: 0px">
        <h1 style="color: white">Leaderboards</h1>
    </div>

    <div class="text-center">
        <form method="get">
            {{ filter.form.as_table }}
            <button type="submit" class="btn btn-outline-info my-2">Filter</button>
        </form>
        <br>
        <div>
            <table class = "table table-striped text-center">
                 <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                 </thead>
                 <tbody>
                 {% for team in filter.qs %}
                 <tr class="text-centre">
                     <td scope="row">{{team.teamName}}</td>
                     <td> {{team.score}}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
             </table>
        </div>
        <br>
        <div class="btn-group">
            <a class="btn btn btn-outline-info" role="button" href="{% url 'treasurehunt-home' %}" role="button">
                Home
            </a>
        </div>
    </div>
{% endblock %}