{% extends "treasurehunt/base.html" %}
{%block content %}

<html>
<head>
	<title>QR Code Scanner</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center" style="background-color: darkgreen">
        <h1 style="color: white">Scan the QR Code</h1>
    </div>

    <div class="text-center">
        <div class="btn-group-vertical">
            <video id="preview"></video>
            <a class="btn btn-outline-info my-3" role="button" href="{% url 'treasurehunt-home' %}" role="button">
            Quit
            </a>
        </div>
    </div>


    <script type="text/javascript">
      var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        window.location.replace(content);
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    </script>

</body>
</html>
{% endblock %}