{% extends "treasurehunt/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Start Game</h1>
    </div>
    <div class="text-center">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div><p></p></div>

        <div class="btn-group-vertical">
                <a class="btn btn-outline-info" role="button" href="{% url 'treasurehunt-home' %}" role="button">
                    Back
                </a>
        </div>
    </div>
{% endblock %}