{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Task</h1>
    </div>
    <div class="text-center">

        <p>{{ task.taskText }}</p>
        <p>(answer form goes here)</p>

        <div class="btn-group-vertical">
            <a class="btn btn-outline-info" id="submit" onclick="myFunction()" role="button">
                Submit
            </a>
            <a class="btn btn-outline-info" id="skip" onclick="myFunction()" role="button">
                Skip
            </a>
        </div>
    </div>

    <script>
    function myFunction() {
        url = window.location.href
        split = window.location.href.split('/');

        value = split.pop();


        newurl = url.substring(0, url.lastIndexOf('t'));
        window.location.href = (newurl + 'info/' + value);

    }

    </script>

{% endblock %}