{% extends "treasurehunt/base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Task Two</h1>
    </div>
    <div class="text-center">
        <div class="btn-group-vertical">
                <a class="btn btn-primary btn-lg" role="button" href="#" role="button">
                    Task
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="#" role="button">
                    Answer
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="#" role="button">
                    Submit
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="#" role="button">
                    Skip
                </a>
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'treasurehunt-end' %}" role="button">
                    Quit
                </a>
        </div>
    </div>
{% endblock %}
